<!--<script type="text/template" id="forecast-detail-template">-->
    <div class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><%= city %>, <%= state %></h3>
      </div>
      <div class="modal-body">           
        <div class="form-horizontal">
          <div class="control-group">
            <label class="control-label">Temperature</label>
            <div class="controls"><%= temperature %>°F</div>
          </div>
          <div class="control-group">
            <label class="control-label">Feels Like</label>
            <div class="controls"><%= feelslike %>°F</div>
          </div>
          <div class="control-group">
             <label class="control-label">Wind</label>
             <div class="controls"><%= wind %> MPH</div>
          </div>
        </div>          
      </div>
    </div>
<!--</script>-->