<!--<script type="text/template" id="forcast-template">-->
    <td><a class="route" href="/detail/<%= zip %>"><i class="detail icon-search"></i></a></td>
    <td><img src="<%= url %>" /></td>
    <td><%= city %></td>
    <td><%= state %></td>
    <td><%= zip %></td>
    <td><%= temperature %>°F</a></td>
    <td><a href="#"><i class="delete icon-trash"></i></td>
<!--</script>-->