<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">Weather</div>
    </div>
  </div>
</div>

<form id="weather" class="form-search">
    <input type="text" id="zip" placeholder="Enter a zip code…" class="input-medium search-query">
    <button id="search" type="submit" class="btn">Search</button>
    <div class="alert alert-error"></div>
</form>
    
<table id="output" class="table table-striped">
    <caption>Forecast Results</caption>
    <thead>
        <tr>
            <th></th><th></th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Temperature</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>